@import "tailwindcss";


/* Global Color Variables */
:root {
  --color-purple-medium: #6f54bd;
  /* Soft Purple */
  --color-blue-dark: #051da1;
  /* Deep Navy Blue */
  --color-navy-charcoal: #1d233b;
  /* Dark Charcoal Blue */
  --color-purple-dark: #6446a6;
  /* Dark Purple */
  --color-white: #ffffff;
  /* White */
  --color-black: #000000;

  --color-navy: #1e1e2f;
  --color-navy-medium: #433D8B;
  --color-navy-dark: #222838;
  --color-purple: #664bc9;
  
  /*Client color*/
  --color-purple-black: #01001d;
  --color-purple: #9100F9;
  --color-black-wash: #0c0c0c;
}

@font-face {
  font-family: 'CelabRegular';
  src: url('./assets/fonts/Urbanist-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FootbarPro';
  src: url('./assets/fonts/Urbanist-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('./assets/fonts/Urbanist-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'RomanMelikhov';
  src: url('./assets/fonts/RomanMelikhov-MixcaseMixed.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* service name marquee */

.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  margin-left: 100px;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  display: inline-flex;
  align-items: center;
  margin-right: 100px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'CelabRegular', sans-serif;
  color: #ffffff;
}

.service-icon {
  width: 50px;
  height: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.glow-text {
  color: var(--color-purple);
  text-shadow: 
    0 0 5px var(--color-purple),
    0 0 20px var(--color-purple),
    0 0 20px var(--color-purple);
}
